{% extends "base.html" %}

{% block app_content %}
    {# Import JQuery #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

    <script src=" {{ url_for('static', filename='stand.js') }}" type="text/javascript"></script>

    <h1>Используемые сервера:</h1>

    <h4>
    <table style="border-collapse: separate; border-spacing: 10px;" id="serverTable">
        <thead>
            <tr valign="top">
                <td> Имя сервера </td>
                <td> IP адрес сервера </td>
                <td> Имя пользователя </td>
                <td> Состояние сервера </td>
                <td> Имя интерфейса </td>
                <td> Состояние интерфейса </td>
            </tr>
        </thead>

        <tbody>
            {% for serv in servers %}
                {% include "_server.html" %}
            {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{ url_for('server_add') }}">Добавить сервер</a> 
        <a href="{{ url_for('server_delete') }}">Удалить сервер</a> 
    </div>
    </h4>

    <h1>Соединения серверов:</h1>

    <h4>
    <table style="border-collapse: separate; border-spacing: 10px;" id="connectionTable">
        <thead>
            <tr valign="top">
                <td> Имя сервера 1 </td>
                <td> Имя интерфейса 1 </td>
                <td> Имя интерфейса 2 </td>
                <td> Имя сервера 2 </td>
            </tr>
        </thead>

        <tbody>
            {% for conn in connections %}
                {% include "_connection.html" %}
            {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{ url_for('connection_add') }}">Добавить соединение</a>
        <a href="{{ url_for('connection_delete') }}">Удалить соединение</a>
    </div>
    </h4>


    <h1>Используемые виртуальные машины (ВМ):</h1>

    <h4>
    <table style="border-collapse: separate; border-spacing: 10px;" id="vmTable">
        <thead>
            <tr valign="top">
                <td> Имя ВМ </td>
                <td> IP адрес ВМ </td>
                <td> Имя пользователя </td>
                <td> Имя сервера </td>
                <td> Состояние ВМ </td>
            </tr>
        </thead>

        <tbody>
            {% for vm in vms %}
                {% include "_vm.html" %}
            {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{ url_for('vm_add') }}">Добавить ВМ</a> 
        <a href="{{ url_for('vm_delete') }}">Удалить ВМ</a> 
    </div>
    </h4>


{% endblock %}
